
#blocklyArea {
  /* margin: 10px auto 10px 50px; */
  height: 100%;
  width: 40%;
  min-width: 400px;
  margin: 10px 50px 10px 50px;
}

#blocklyDiv {
  /* margin: 10px auto 10px 50px; */
  position: absolute;
}

#toolbox {
  display: none;
}

.code-wrapper {
  width: 40%;
  margin-left: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: darkslateblue;
  overflow: scroll;
  opacity: 0.8;
}

.code-wrapper-header {
  width: 30%;
  background: whitesmoke;
}

.code-area {
  padding: 10px;
}

#code {
  font-size: 15px;
  font-weight: bold;
  color: cornsilk;
}
